/* inpostazioni generali */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.radius {
    border-radius: 15px;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(128, 128, 128, 0.4);
}

/* intestazione pagina */
header {
    height: 140px;
}

#logo {
    height: 50%;
}

#main_nav {
    margin: 25px 0;
}

#main_nav li {
    display: inline-block;
    margin-right: 10px;
}

#main_nav a {
    text-decoration: none;
    color: #9c9c9c;
}

/* contenuto pagina */
#jumbotron {
    margin: 20px 0;
    height: 600px;
    /* regole sfondo */
    background-image: url(../img/banner.jpg);
    background-size: cover;
    background-position: center;
}

/* regole contenuto jumbotron*/
#jumbo_content{
    width: 50%;
    margin-left: 5%;
    color: white;
    text-align: justify;     
}

/* stuttura articolo */
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.clearfix > * {
    margin-bottom: 20px;
}

.ar_title {
    height: 80px;
    /* regole di debug */
    background-color: skyblue;
}

/* colonne esterne */
.correlati {
    float: left;
    width: 15%;
    /* regole di debug */
    height: 450px;
    background-color: skyblue;
}

/* colonna centrale */
.contenuto {
    float: left;
    width: 66%;
    margin: 0 2%;    
    /* regole di debug */
    height: 450px;
    background-color: skyblue;
}

/* footer */
footer {
    height: 60px;
    /* regole di debug */
    background-color: rebeccapurple;
}
