/* inpostazioni generali */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.radius {
    border-radius: 15px;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(128, 128, 128, 0.4);
}

.gray {
    color: #9c9c9c;
}

/* impostazioni background dei blocchi */
.background {
    background-size: cover;
    background-position: center;
}

/* intestazione pagina */
header {
    height: 140px;
}

#logo {
    height: 50%;
    border-right: solid 1px #9c9c9c;
    padding-right: 20px;
}

#main_nav {
    margin: 25px 0;
}

#main_nav li {
    display: inline-block;
    margin-right: 10px;
}

#main_nav a {
    text-decoration: none;
    color: #9c9c9c;
}

/* contenuto pagina */
#jumbotron {
    margin: 20px 0;
    height: 600px;
    background-image: url(../img/banner.jpg);
    
}

/* regole contenuto jumbotron*/
#jumbo_content{
    width: 50%;
    margin-left: 5%;
    color: white;
    text-align: justify;  
}

/* stuttura articolo */
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.clearfix > * {
    margin-bottom: 20px;
}

.ar_title {
    height: 80px;
}

.maintitle {
    font-size: 36px;
    font-weight: bold;
}

.subtitle {
    font-weight: bold;
    margin: 10px 0;
}

.img_top_content {
    height: 200px;
}

/* colonne esterne */
.correlati {
    float: left;
    width: 15%;
}
/* colonna destra */
.img_1 {
    background-image: url(../img/img-1.jpg);
}

/* colonna sinistra */
.img_3 {
    background-image: url(../img/img-3.jpg);
}

/* colonna centrale */
.img_2 {
    background-image: url(../img/banner-2.jpg);
}

.contenuto {
    float: left;
    width: 66%;
    margin: 0 2%;    
    /* regole di debug */
}

/* footer */
footer {
    margin-top: 20px;
    height: 40px;
    text-align: center;
    font-weight: bold;
}

footer::after {
    content: '\2665';
    color: red;
    font-size: 25px;
}
